[core]
	excludesfile = /Users/khoan/.gitignore_global
[user]
	name = Khoa Nguyen
	email = khoa@nguyen.com
[push]
	default = current
#[remote "origin"]
#        fetch = +refs/heads/*:refs/remotes/origin/*
